* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.griglia {
    width: 600px;
    height: 600px;
    margin: auto;
}

.quadrato {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}

.verde {
    background-color: green;
}

.giallo {
    background-color: yellow;
}
